.sec-info{
    margin-top: 10px;
    margin-bottom: 10px;
    /* font-size: 18px; */
}

.sec-info span{
    font-size: 14px;
    color: #666;
    margin-left: 40px;
}

.bank-select select{
    background: #F6F6F6;

}

.link-btn button{
    padding: 15px 25px;
    background-color: #009706;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 19px;
    /* font-weight: bo; */
}

