.boxery {
  /* text-align: center; */
  position: relative;
  width: 15%;
  margin: 0 auto;
  height: auto;
  /* box-shadow: 1px solid #808080; */
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  /* padding: 20px; */
  border: 1px solid #999;
  overflow: auto;
}

/* Progress bar */
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5rem;
}

progress::-webkit-progress-bar {
  background-color: #e7e7e7;
  width: 100%;
  border-radius: 5rem;
}

progress {
  /* for FF target directly the element */
  background-color: #e7e7e7;
  width: 100%;
  border-radius: 5rem;
}

progress::-webkit-progress-value {
  background-color: #009506 !important;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  border-radius: 5rem;
}

progress::-moz-progress-bar {
  /* for FF ::progress-bar is the value bar */
  background-color: #009506 !important;
  transition: all 0.7s;
  border-radius: 5rem;
}

.percentage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  cursor: pointer;
}

.percentage div {
  color: #808080;
  font-size: 12px;
}

.limit-extension {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 15px;
  border: 1px solid #f3f3f3;
  padding: 10px 10px 20px 10px;
  border-radius: 12px;
}

.limit-extension p {
  font-size: 12px;
  color: #808080;
}

.limit-extension input {
  height: 35px;
  width: 90px;
  border-radius: 10px;
  border: 2px solid #f1f2f1;
  color: #808080;
  padding: 5px 10px;
  font-size: 12px;
}

.limit-extension input:focus {
  border-radius: 10px;
  outline: 1px solid #009506;
}

.price,
.expires {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.top-section,
.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.top-section {
  background: #fff;
}

.bottom-section {
  background: #fff8e0;
  padding: 30px 20px;
}
.two-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-btns div {
  height: 41px;
  width: 94px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.two-btns div:first-child {
  background: #009506;

  margin-right: 5px;
}

.two-btns div:first-child > * {
  color: #fff;
}

.two-btns div:last-child {
  background: #fff;
  color: #009506;
}

.trans-speed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trans-speed div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #00b006;
  padding: 5px 20px;
  border-radius: 10px;
}

.trans-speed span {
  margin-right: 5px;
  font-size: 12px;
}

.trans-speed img {
  height: 14px;
  width: 14px;
}

.trans-speed div:nth-child(2) {
  background: #00b006;
  color: #fff;
}

.slippage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slippage-percent {
  display: flex;
  flex-direction: row;
  border: 1px solid #009506;
}

.slippage-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wallets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0 30px 0;
}

.wallets p {
  font-weight: bold;
  font-size: 24px;
}

.wallets div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #009506;
  padding: 5px 15px 5px 20px;
  margin: 10px 0;
  width: 187px;
  height: 27px;
  border-radius: 30px;
  cursor: pointer;
}

.wallets div > span {
  margin-left: 20px;
  color: #808080;
}
/* 
.wallets img {
  height: 18px;
  width: 18px;
} */

.learn-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.learn-more span {
  font-size: 14px;
  margin-left: 6px;
  font-weight: 400;
}
