.boxery {
    /* text-align: center; */
  position: relative;
  width: 15%;
  margin: 0 auto;
  height: auto;
  /* box-shadow: 1px solid #808080; */
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  /* padding: 20px; */
  border: 1px solid #999;
  overflow: auto;
}