.whole-welcome {
  background-color: #a1c97f;
  padding-top: 10px;
  /* padding-top: 20px; */
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 10px;
  
}

button:hover {
  cursor: pointer;
}

.real-content {
  margin-top: 300px;
}

.comingna {
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  width: 250px;
  justify-content: center;
  margin: 0 auto;
}

.coming-btn button {
  padding: 11px 70px;
  background: #009506;
  border-radius: 10px;
  border: none;
  color: #fff;
  margin-top: 30px;
}

.textcome {
  color: #009506;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  /* margin: 0 auto; */
  /* width: 30px; */
}

.welcome-btn button {
  padding: 11px 100px;
  font-size: 25px;
  color: #509611;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.inside-man {
  /* padding-top: 300px; */
  justify-content: center;
  border-radius: 15px;
  background-color: #509611;
  width: 430px;
  height: 900px;
  text-align: center;
  box-shadow: 0 0 5px #c0bdbd;
}

.inside-maner {
  /* padding-top: 300px; */
  justify-content: center;
  border-radius: 5px;
  background-color: #daaa02;
  width: 430px;
  /* height: 750px; */
  text-align: center;
}

.real-content span {
  color: #fff;
  font-size: 50px;
}
