.buy-method {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.with-fiat,
.with-crypto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #000;
}

.with-fiat div:last-child,
.with-crypto div:last-child {
  width: 28px;
  height: 3px;

  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.with-fiat div:last-child {
  background: #009506;
}

.with-crypto div:last-child {
  background: #00950642;
}

.buy-rate {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 3rem;
  width: 100%;
  margin-top: 1.5rem;
}

.buy-rate div:first-child {
  height: 13px;
  width: 9px;
  background: #daaa02;
  margin-right: 3px;
}

.buy-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.buy-input {
  width: 342px;
  height: 39px;
  background: #f6f6f6;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buy-input input {
  width: 295px;
  height: 27px;
  border: 0;
  outline: 0;
  background: #f6f6f6;
  padding: 2px 10px;
}

.buy-input div {
  width: 36px;
}

.line-break {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-break div {
  width: 347px;
  height: 2px;
  background: #c4c4c4;
  margin-bottom: 3rem;
}

.quantity {
  display: grid;
  grid-template-columns: 0.07fr 0.8fr 0.18fr;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 0.8rem;
}

.quantity div:first-child {
  height: 13px;
  width: 12px;
  background: #daaa02;
}

.payment-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.payment-btn div {
  height: 49px;
  width: 293px;
  border-radius: 15px;
  background: #009506;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.payment-btn.sell div {
  background: #df751c;
}

.attention {
  font-size: 12px;
  color: #daaa02;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem 4rem;
}

.attention div:first-child {
  font-weight: bold;
}

.trade-info {
  margin: 1rem 3rem;
  color: #009506;
  font-size: 12px;
  margin-top: 2.5rem;
}

.trade-info > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.trade-info > div > div:last-child {
  justify-self: flex-end;
}

.trade-info-popup {
  margin: 1.5rem 0.3rem 2rem 0.3rem;
  color: #fff;
  font-size: 14px;
}

.trade-info-popup b {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.trade-info-details > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.btn-black {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 17px;
}

.btn-black div {
  height: 49px;
  width: 263px;
  border-radius: 15px;
  background: #000000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 1rem 0;
  box-shadow: 0 0 2.5px #fff;
}

.green-pop-attention {
  font-size: 12px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 1.7rem;
}

.green-pop-attention div:first-child {
  color: #f31e1e;
}
