.mnemonic{
    margin-top: 50px;
}

.helper{
    text-align: center;
}

.arroeleft{
    margin-top: 30px;
    margin-right: 160px;
}

.helper span{
    color: #009506;
    font-size: 14px;
    position: relative;
    bottom: 3px;
}

.little-text{
    text-align: center;
    /* width: 500px; */
}

.undertextman{
    margin-left: 60px;
    font-size: 15px;
    margin-top: 10px;
}

.picky{
    margin-top: 20px;
    /* justify-content: center; */
    text-align: center;
}

.picky select{
    padding: 7px 250px 7px 20px;
    background: #F7F7F7;
border-radius: 5px;
border: none;
font-size: 13px;
}

.line-down{
    width: 350px;
    justify-content: center;
    margin: 60px auto;
    height: 1px;
    border: 1px solid #C4C4C4;
}

.all-method{
    /* max-width: 100px; */
    /* display: flex; */
}

.mannn{
    /* position: relative; */
    display: flex;
    /* justify-content: center; */
    /* width: 500px; */
    /* flex-wrap: wrap; */
    /* width: 70px; */
}

.payment-method{
    background: #FFFFFF;
box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);
border-radius: 5px;
padding: 20px;
width: 70px;
text-align: center;
margin-left: 30px;
margin-top: 50px;
}
.payment-methoder{
    background: #FFFFFF;
box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);
border-radius: 5px;
padding: 25px;
width: 70px;
text-align: center;
margin-left: 30px;
margin-top: 50px;
}

.down-manner{
    position: absolute;
    top: 720px;
    background: #FFFFFF;
    padding-top: 10px;
    width: 440px;
    justify-content: center;
    display: flex;
    height: 60px;
box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.1);
}

.payment-method svg{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.first-down-icon{
    background: rgba(218, 170, 0, 0.99);
    width: 50px;
    height: 40px;
    opacity: 0.21;
    border-radius: 5px;

}

.first-down-icon svg{
    position: relative;
    left: 8px;
}

svg:hover{
    cursor: pointer;
}

.payment-method img{
    align-items: center;
    text-align: center;
}

.nibo-svg{
    margin-left: 80px;
    position: relative;
    top: 10px;
}

.pickman{
    background: #DAAA02;
    width: 20px;
    margin-left: 40px;
    height: 20px;
}

.picky select {
    font-size: 15px;
    color: #000000;
    opacity: 0.5;
}

.createwallet-btner button{
    padding: 11px 90px;
    font-size: 18px;
    background-color: #009506;
    border: none;
    border-radius: 9px;
    color: #DAAA02;
    font-weight: bold;
}

.converty svg{
    margin-top: 40px;
    margin-left: 50px;

}

.createwallet-btner{
    text-align: center;
    margin-top: 50px;
}

.createwallet-btner span,
.createwallet-btner a{
    color: #009706;
    font-weight: bold;
    text-decoration: none;

}

span:hover{
    cursor: pointer;
}

.input-phrase span{
    padding-top: 30px;
    /* margin-top: 50px; */
    color: #009506;
    font-size: 12px;
}

.input-phraser span{
    padding-top: 30px;
    /* margin-top: 50px; */
    text-align: center;
    margin: 0 auto;
    color: #009506;
    font-size: 12px;
}

.input-phrase{
    text-align: center;
}




.input-phraser{
    text-align: center;
    width: 400px;
    line-height: 40px;
}

.input-phraser input {
    margin-left: 20px;
    width: 80px;
    text-align: center;
    background: #E5E5E5;
    opacity: 0.3;
    border: 1px solid #000000;
    /* box-sizing: border-box; */
    border-radius: 5px;
    padding: 3px 10px;
}

.input-phrase input{
    padding: 60px;
    background: rgba(196, 196, 196, 0.17);
border: 2px solid #000000;
box-sizing: border-box; 
}

.little-text p{
    color: #494949;
    font-size: 25px;
}

.little-text span{
    color: #494949;
    font-size: 14px;

}

.helper span:hover{
    cursor: pointer;
}



.slidery span{
    color: #009506;
    position: relative;
    bottom: 90px;
}